<td class="stock-ticker">
	<%= owned_stock.ticker %>
	<img class="stock-chart" src="http://chart.finance.yahoo.com/z?s=<%= owned_stock.ticker %>&t=1d&q=l&l=on&z=s">
</td>
<td class="stock-name"><%= owned_stock.name %></td>
<td class="stock-quantity"><%= owned_stock.quantity%></td>
<td class="stock-current-price"><%= number_to_currency(owned_stock.current_market_price) %></td>
<td class="stock-buy-price"><%= number_to_currency(owned_stock.buy_price) %></td>
<td class="stock-total-value"><%= number_to_currency(owned_stock.total_value) %></td>

<% if owned_stock.portfolio.user == current_user %>
	<%= render partial: "portfolios/sell_button", object: owned_stock, as: 'stock' %>
<% end %>
