<td class="stock-ticker"><%= owned_stock.ticker %></td>
<td class="stock-name"><%= owned_stock.name %></td>
<td class="stock-quantity"><%= owned_stock.quantity%></td>
<td class="stock-current-price"><%= number_to_currency(owned_stock.current_market_price) %></td>
<td class="stock-buy-price"><%= number_to_currency(owned_stock.buy_price) %></td>
<td class="stock-total-value"><%= number_to_currency(owned_stock.total_value) %></td>

<% if stock.portfolio.user == current_user %>
	<%= render partial: "portfolios/sell_button", object: stock %>
<% end %>
