<div class="container">
	<h1>	<%= @portfolio.user.username%>'s Portfolio in: <%= @portfolio.group.name%> </h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
     		<tr>
        	<th>Cash Holdings</th>
       		<th><%=@portfolio.cash%></th>
      	</tr>
    	</thead>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead>
        <tr>
          <th>Ticker</th>
          <th>Company Name</th>
          <th>Quantity Owned</th>
          <th>Current Market Price</th>
          <th>Purchased Price</th>
         	<th>Current Value</th>
          <th>Sell Stock</th>
        </tr>
    </thead>
    <tbody>
      <% @owned_stocks.each do |stock| %>
        <tr>
          <td class="stock-ticker"><%= stock.ticker %></td>
          <td class="stock-name"><%= stock.name %></td>
          <td class="stock-quantity"><%= stock.quantity%></td>
          <td class="stock-current-price"><%= stock.current_market_price %></td>
          <td class="stock-buy-price"><%= stock.buy_price %></td>
          <td class="stock-total-value"><%= stock.total_value %></td>
          <td><%= form_tag portfolio_path(@portfolio), method: :patch, remote: true do %>
            <%= hidden_field_tag :stock_id, stock.id %>
            <%= number_field_tag :stock_quantity, value: nil, max: stock.quantity %>
            <%= submit_tag "Sell" %>
            <% end %></td>

        </tr>
      <% end %>
    </tbody>
		</table>
	</div>
</div>

