<div class="container">
	<h1>	<%= @portfolio.user.username%>'s Portfolio in: <%= @portfolio.group.name%> </h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
     		<tr>
        	<th>Cash Holdings</th>
       		<th><%= number_to_currency(@portfolio.cash) %></th>
      	</tr>
    	</thead>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead>
      <tr>
        <th>Ticker</th>
        <th>Company Name</th>
        <th>Quantity Owned</th>
        <th>Current Market Price</th>
        <th>Purchased Price</th>
       	<th>Current Value</th>
      </tr>
    </thead>
    <tbody>

      <% @owned_stocks.each do |stock| %>
				<tr>
					<td><%= stock.ticker %></td>
	        <td><%= stock.name %></td>
	        <td><%= stock.quantity%></td>
	        <td><%= number_to_currency(stock.current_market_price) %></td>
	        <td><%= number_to_currency(stock.buy_price) %></td>
	        <td><%= number_to_currency(stock.total_value) %></td>
				</tr>
      <% end %>

    </tbody>
		</table>
	</div>
</div>
