<div class="container">
	<h1>	<%= @portfolio.user.username%>'s Portfolio in: <%= @portfolio.group.name%> </h1>
	<div class="table-responsive">
		<table class="table">
			<thead>
        <tr>
          <th>Ticker</th>
          <th>Company Name</th>
          <th>Quantity Owned</th>
          <th>Purchased Price</th>
					<th>Current Market Price</th>
					<th>Change</th>
					<th>Current Value</th>
          <th>Sell Stock</th>
        </tr>
    </thead>
      <tbody id="stocks-table">
        <% @owned_stocks.each do |stock| %>
          <tr id=<%= stock.id %> class="stock-row">
            <%= render partial: "portfolios/owned_stock", object: stock %>
          </tr>
        <% end %>
       </tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h4>Cash Holdings</h4>
		</div>
		<div class="col-sm-6" id="portfolio-cash">
			<h4><%=number_to_currency(@portfolio.cash)%></h4>
		</div>
	</div>
	<hr class="portfolio-hr">
	<div class="row">
		<div class="col-sm-6">
			<h4>Total</h4>
		</div>
		<div class="col-sm-6" id="portfolio-total">
			<h4><%= number_to_currency(@portfolio.current_value)%></h4>
		</div>
	</div>
</div>
