<div class="container">
	<h1>	<%= @portfolio.user.username%>'s Portfolio in: <%= @portfolio.group.name%> </h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
     		<tr>
        	<th>Cash Holdings</th>
       		<th id="portfolio-cash"><%=@portfolio.cash%></th>
      	</tr>
    	</thead>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead>
        <tr>
          <th>Ticker</th>
          <th>Company Name</th>
          <th>Quantity Owned</th>
          <th>Current Market Price</th>
          <th>Purchased Price</th>
         	<th>Current Value</th>
          <th>Sell Stock</th>
        </tr>
    </thead>
      <tbody id="stocks-table">
        <% @owned_stocks.each do |stock| %>
          <tr id=<%= stock.id %> class="stock-row">
            <%= render partial: "portfolios/owned_stock", object: stock %>
          </tr>
        <% end %>
       </tbody>
		</table>
	</div>
</div>
