<div class="container">
	<h1>	<%= @portfolio.user.username%>'s Portfolio in: <%= @portfolio.group.name%> </h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
     		<tr>
        	<th>Cash Holdings</th>
       		<th><%=@portfolio.cash%></th>
      	</tr>
    	</thead>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead>
      <tr>
        <th>Ticker</th>
        <th>Company Name</th>
        <th>Quantity Owned</th>
        <th>Current Market Price</th>
        <th>Purchased Price</th>
       	<th>Current Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @owned_stocks.each do |stock| %>
        <td><%= stock.ticker %></td>
        <td><%= stock.name %></td>
        <td><%= stock.quantity%></td>
        <td><%= stock.current_market_price %></td>
        <td><%= stock.buy_price%></td>
        <td><%= stock.total_value %></td>
      <% end %>
      </tr>
    </tbody>
		</table>
	</div>

</div>