<h3>Related Stocks</h3>
<div class="related_stock">
	<% @related_stocks.each do |related_stock| %>
		<%= link_to stock_path(related_stock), class: "list-group-item" do %>
			<div class="row">
				<span class="col-xs-4"><%= related_stock.name %> (<%= related_stock.ticker %>)</span> <span class="col-xs-4 per-change"><%= related_stock.change %></span> <span class="col-xs-4"><%= number_to_currency(related_stock.current_market_price) %></span>
			</div>
		<% end %>
	<% end %>
</div>
