<div class="container">
	<div id="stocks-search-bar" class="search">
		<%= form_tag stocks_path, method: :get, remote: true, id:"search" do %>
			<%= label_tag :ticker, "Ticker Search:" %>
			<%= text_field_tag :ticker, params[:ticker] %>
			<%= submit_tag 'Submit', :class => 'btn btn-default'  %>
		<% end %>
	</div>

	<div id="stock-list">
		<div class="stock-info list-group">
			<div class="heading">
					<span class="list-group-item">
						<div class="row">
							<span class="col-sm-4">Ticker</span><span class="col-sm-4">Name</span><span class="index-price">Current Market Price</span>
						</div>
					</span>
			</div>
			<%= render @base_stocks %>
		</div>
		<%= will_paginate @base_stocks %>
	</div>
</div>
