<div class="container">
	<div id="stocks-search-bar">
		<%= form_tag stocks_path, method: :get, remote: true, id:"search" do %>
			<%= label_tag :ticker, "Ticker Search:" %>
			<%= text_field_tag :ticker, params[:ticker] %>
			<%= submit_tag 'Submit', :class => 'btn btn-default'  %>
		<% end %>
	</div>

	<div id="stock-list">
		<div class="stock-info list-group">
			<%= render @base_stocks %>
		</div>
	</div>
</div>
