<div class="container">
	<h1><%= @base_stock.name %></h1>
	<img src="http://chart.finance.yahoo.com/z?s=<%= @base_stock.ticker %>&t=1d&q=l&l=on&z=l">
	<div class="stock-show">
		<p>Ticker: <%= @base_stock.ticker %></p>
		<p>Market Price: <%= @base_stock.current_market_price %></p>
		<p>Bid Price: <%= @base_stock.current_bid_price %></p>
	</div>

	<div>
		<%= form_for @owned_stock, url: {action: "create", controller: "owned_stocks"} do |f| %>
			<div class="form-group">
				<%= hidden_field_tag(:base_stock_id, @base_stock.id) %>
				<%= f.hidden_field(:buy_price, :value => @base_stock.current_market_price) %>
			</div>
			<%= f.label :quantity, "Buy Stocks:" %>
			<div class="row">
				<div class="form-group col-sm-6">
					<%= f.number_field :quantity, :value => params[:quantity], class: "form-control" %>
				</div>
				<div class="form-group col-sm-6">
					<%= f.collection_select(:portfolio_id, @portfolios, :id, :name, {}, {:class => "form-control"}) %>
				</div>
			</div>
				<%= f.submit 'Buy', :class => 'nav-button btn btn-default' %>
		<% end %>
	</div>
</div>
