<h1><%= @base_stock.name %></h1>

<div class="stock-show">
	<p>Ticker: <%= @base_stock.ticker %></p>
	<p>Market Price: <%= @base_stock.current_market_price %></p>
	<p>Bid Price: <%= @base_stock.current_bid_price %></p>
</div>

<div class="user-stock-show">
	<p>No. of Stocks You Own: </p>
</div>

<div>
	<%= form_for @owned_stock, url: {action: "create", controller: "owned_stocks"} do |f| %>
		<%= hidden_field_tag(:base_stock_id, @base_stock.id) %>
		<%= f.hidden_field(:buy_price, :value => @base_stock.current_market_price) %>
		<%= f.label :quantity, "Buy Stocks:" %>
		<%= f.number_field :quantity, :value => params[:quantity] %>
		<%= f.collection_select(:portfolio_id, @portfolios, :id, :name) %>
		<%= f.submit 'Buy', :class => 'nav-button'  %>
	<% end %>
</div>