<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being made:<h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :starting_total %>
      <%= f.number_field :starting_total, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :max_size %>
      <%= f.number_field :max_size, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :end_date %>
      <%= f.datetime_select :end_date, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
<% end %>
