<div class="container">

	<div class="jumbotron">
		<h1><%= @group.name %></h1>
		<p>Starting Amount: <%= number_to_currency(@group.starting_total) %></p>
		<p>End Date: <%= @group.end_date.localtime.strftime("%A %B %e, %Y at %H:%M") %></p>
	</div>
	<!-- if current user == group creator delete group button -->
	<% if !@group.users.include?(current_user) %>
		<!-- Add button to join group -->

	<%= link_to "Join This Group", "/groups/#{@group.id}/participation", method: :post,  class: "btn btn-default" %>
	<% end %>
	<div class="list-group">
		<h2>Players:</h2>
		<% @group.users.each do |user| %>
		  <%= link_to portfolio_path(user.find_portfolio(@group.id)), class: "list-group-item" do %>
		  	<p> <%= user.username %> |
				Portfolio net worth: <%= number_to_currency(user.portfolios.where(group_id: @group.id).take.current_value) %></p>
				<% end %>
		<% end %>

	</div>
</div>
