<div class="jumbotron">
  <div class="container">
    <h1 class="welcome-header">Welcome to Fantasy Finance</h1>
    <div class="row">
      <p class="col-sm-4">Build your dream portfolio</p>
    </div>
    <div class="row">
      <p class="col-sm-4 col-sm-offset-4">Compete against your friends</p>
    </div>
    <div class="row">
      <p class="col-sm-4 col-sm-offset-8">Become a Market Master</p>
    </div>
    <div class="row jumbotron-btn-row">
      <h4>Get Started</h4>
    </div>
    <div class="row jumbotron-btn-row">
      <% if current_user %>
        <%= link_to 'Groups', groups_url, class:'btn btn-default' %>
        <%= link_to 'Stocks', stocks_url, class:'btn btn-default' %>
        <%= link_to 'Profile', user_url(current_user), class:'btn btn-default' %>
      <% else %>
        <%= link_to 'Login', new_user_session_url, class:'btn btn-default'%>
        <%= link_to 'Sign Up', new_user_url, class:'btn btn-default'%>
      <% end %>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 movers">
        <h2>Today's Biggest Movers</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 movers">
        <%= render 'gainers' %>
      </div>
      <div class="col-sm-6 movers">
        <%= render 'losers' %>
      </div>
    </div>
  </div>
</div>
